---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/2', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage" />
</div>

<div x-data="{brandname: $fetchjson('https://dummyjson.com/products/2', jsonItem='brand')}">
    <span x-text= "brandname"> </span>
</div>




<div x-data="getRandomName">
    <button @click="name = name">Click me</button>
    <h1 x-text="name"></h1>
</div>
    