---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="{thumbImage: $fetchjson('https://dummyjson.com/products/2', jsonItem='thumbnail')}">
    <img alt="thumbnail" x-bind:src="thumbImage" class="mx-auto"/>
</div>

<div x-data="{brandname:  $fetchjson('https://dummyjson.com/products/2', jsonItem='brand')}">
    <h1 class="text-center text-3xl font-bold " > 
        The brand is: <span x-text="brandname"></span> 
    </h1> 
    
</div>


